html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.formControls_btnSubmit {
  width: 200px;
  border: none;
  border-radius: 10px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin: 10px 0;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

.formControls_label {
  font-size: 0.875rem;
  font-weight: bold;
  margin: 4px 0 4px 0;
  display: block;
}

.border-style {
  border: 3px solid black;
}

.bg-white {
  background-color: white;
}
.card {
  max-width: 600px;
  margin: 0 auto; /* 置中 */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card-header {
  background-color: #f8f9fa;
  font-weight: bold;
}
.img-fluid {
  max-height: 300px; /* 限制預覽圖片高度 */
  object-fit: cover;
}

/*profile樣式*/
.nav-tabs .nav-link {
  border-radius: 0;
}

.nav-tabs .nav-link.active {
  background-color: #007bff;
  color: #fff;
}
.tab-content {
  border: 1px solid #ddd;
  border-radius: 0 0 5px 5px;
  background-color: #f9f9f9;
}

.card-footer {
  background-color: white !important;
  border-top: 0 !important;
}

.card {
  max-width: 100%; /* 預設寬度為 100% */
}
.card {
  max-width: 100%; /* 預設寬度為 100% */
}

@media (min-width: 576px) {
  .card {
    max-width: 540px; /* 小型裝置上最大寬度為 540px */
  }
}

@media (min-width: 768px) {
  .card {
    max-width: 600px; /* 中型裝置上最大寬度為 600px */
  }
}

@media (min-width: 992px) {
  .card {
    max-width: 800px; /* 更大螢幕上最大寬度為 800px */
  }
}

@media (min-width: 1200px) {
  .card {
    max-width: 1000px; /* 非常大螢幕上最大寬度為 1000px */
  }
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
  left: 10px;
}

.absolute-cus {
  position: absolute;
  top: -25px;
  left: -25px;
}

#toggleEye {
  position: absolute;
  top: 55%;
  right: 20px;
  transform: translateY(-50%);
}

#registerToggleEye {
  position: absolute;
  top: 70%;
  right: 20px;
  transform: translateY(-50%);
}

.img-fluid-cos {
  position: absolute; /* 絕對定位 */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* 讓圖片居中 */
}

.img-container {
  width: 100%; /* 固定寬度 */
  height: 300px; /* 固定高度 */
  overflow: hidden;
  position: relative; /* 為子元素設定定位參考 */
}

.background-box {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/metawall-a2771.appspot.com/o/local%2Ftest123.png?alt=media&token=7093fa0c-f84d-4a57-a1bc-671d7f32c3d4');
  background-size: cover; /* 確保圖片完全覆蓋 */
  background-position: center; /* 居中對齊 */
}

.login-box {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/metawall-a2771.appspot.com/o/local%2FiStock-1987991143.jpg?alt=media&token=72d3cb3f-f061-47a9-b927-8fb6564a9e94');
  background-size: cover; /* 確保圖片完全覆蓋 */
  background-position: center; /* 居中對齊 */
}
/* 無資料共用的card */
.custom-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-content {
  text-align: center;
  color: #555;
  padding: 20px;
}

.bg-color {
  background-image: linear-gradient(to bottom right, #f1f1f1, #f1e3c7) !important;
}
.bg-header {
  background-image: linear-gradient(to bottom right, #f1f1f1, #a2defb) !important;
}

.navbar-header {
  font-size: 32px;
  font-weight: 900;
  color: #0d6efd;
  padding: 10px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;
  &:hover {
    color: white;
  }
}
